    .topimg{
        position: absolute;
        width: 100vw;
        z-index: -1;
        top: 0%;
        opacity: 75%;
    }

    .logo{
        width: 110px;
        display: flex;
        margin: auto;
        margin-top: 100px;
    }

    body{
        margin: 0;
        background-size: cover;
        overflow-x: hidden;

    }

    h1{
        margin-top: 50px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 38px;
        text-align: center;
        color: hsl(210, 10%, 33%);
    }

    h2{
        margin-top: 35px;
        margin-bottom: 15px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 30px;
        text-align: center;
        color: hsl(210, 10%, 33%);
    }

    h3{
        margin-top: 35px;
        margin-bottom: 0px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 26px;
        color: hsl(210, 10%, 33%);
    }

    p{
        max-width: 620px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        text-align: center;
        color: hsl(201, 11%, 66%);
        margin: 1px auto;
        padding: 0px 20px;
    }

    @media (max-width:768px){
        h1{
        margin-top: 50px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 30px;
        text-align: center;
        color: hsl(210, 10%, 33%);
    }

    h2{
        margin-top: 35px;
        margin-bottom: 15px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        color: hsl(210, 10%, 33%);
    }

    h3{
        margin-top: 35px;
        margin-bottom: 0px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        color: hsl(210, 10%, 33%);
    }

    p{
        max-width: 620px;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 15px;
        text-align: center;
        color: hsl(201, 11%, 66%);
        margin: 1px auto;
        padding: 0px 20px;
    }
    
    }

    div.cta-buttons{
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 40px auto;
        flex-wrap: wrap;

    }

    .b1{
        padding: 15px 30px;
        border-radius: 25px;
        background-color:hsl(171, 66%, 44%);
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
    }

    .b2{
        padding: 15px 30px;
        border-radius: 25px;
        background-color:hsl(233, 100%, 69%);
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
    }

    .features{
        max-width: 1200px;
        height: auto;
        display: flex;
        gap: 90px;
        margin: 90px auto;
        overflow-x: hidden;
        margin-left: -20px;
    }

    @media (max-width:768px){
        .features{
            flex-direction: column;
            text-align: center;
            padding: 0px 10px;
            overflow-x: hidden;
            margin-left: 15px;
            margin-bottom: 0%;
            gap: 20px;
        }

        .features_img{
            margin-left: 20px;
            margin-bottom: 18px;
        }

        .features_content{
            text-align: center;
            padding-top: 0px !important;
            margin-left: -5px;
        }

        .p1{
            text-align: center !important;
        }
    }

    .features_img img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: -20px;
    }

    .features_content{
        flex: 1;
        padding-top: 30px;
        line-height: 30px;
    }

    .p1{
        text-align: left;
        padding: 0px;
    }

    div.devices{
        display: grid;
        align-items: center;
        margin: 90px auto;
        gap: 15px;
    }

    @media (max-width: 768px) {
        div.devices{
        margin: 90px 10px;
        gap: 15px;
    }
        
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin: 45px 100px;
        margin-bottom: 150px;
        
    }

    @media (max-width:768px){
        .tools{
            grid-template-columns: 1fr;
            gap: 45px;
            margin: 90px 0px;
        }
    }

    .tool1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 15px;
        line-height: 35px;
    }

    .partners{
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
        margin: 45px 100px;
        gap: 30px;
        flex-wrap: wrap;
    }

    @media (max-width:768px){
        .partners{
            margin: 45px 20px;
        }
    }

   .partnercompany{
        padding: 15px 30px;
   }

    .footer{
        display: flex;
        background-color: hsl(0, 0%, 93%);
        padding: 40px 100px;
        align-items: center;
        justify-content: space-evenly;
        gap: 35px;
        flex-wrap: wrap;
    }

    .link{
        list-style: none;
        font-family: 'Bai Jamjuree', sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        column-gap: 100px;
        row-gap: 15px;
        color: hsl(210, 10%, 33%); 
        font-size: 18px;
        font-weight: 500;
    }

    @media (max-width:768px) {
        .footer{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
        }
        .link{
            display: block;
            align-items: center;
            padding: 0;
            margin: 0%;
        }
        .li{
            margin: 20px;
        }
        .socialicons{
            justify-content: center;
        }
    }

    .li:hover{
            color: hsl(171, 66%, 44%);
            cursor: pointer;
        }

    .cta-container{
        margin: 150px auto;
        gap: 15px;

    }

    .socialicons{
        display: flex; 
        gap: 40px;
    }
    .img-fluid{
        width: 100%;
        height: auto;
    }

    .img-fluid2{
        width: 70%;
        height: auto;
    }
